$primary: #8bc271;
$secondary: #e6e6e6;
$accent: #ffa433;
$error: #fe4343;
$info: #2196f3;
$success: #4caf50;
$warning: #ffc107;

$white: #ffffff;

$border-color: #e6e6e6;
$border-color-dark: #9e9e9e;
$border-radius: 2px;
$top-nav-height: var(--top-nav-height);
$job-filter-height: 38px;
$bottom-nav-height: 56px; //?
$wechat-nav-bar-height: 64px;

$divider-height: 10px;

$size1: 12px;
$size2: 14px;

$svg-icon-width: 1.5rem;

$tag-space: $size1 / 2;

$spacer: 16px;
